.vacanciesGroup{
    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    row-gap: 27px; 
    column-gap: 185px; 
    
}
.vacanciesGroup > * {
    flex: 0 1 270px;
    box-sizing: border-box;
    height: 350px;
}