.worksSection{
    background-color: rgba(228, 242, 255, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 107px 101px 134px;
}
.workTitle {
    font-weight: 700;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.85);
    width: 15%;
    margin-bottom: 43px;
}
.jobSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}